<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="row-flight-number">
          <a
            class="sort-by"
            (click)="onSort()"
          >
            Flight Number
          </a>
        </th>
        <th>
          Launch Year
        </th>
        <th>
          Rocket Name
        </th>
        <th class="row-details">
          Details
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let launch of launches"
        [class.clickable-row]="!!launch.links.presskit"
        (click)="onSelect(launch)"
      >
        <td>{{launch.flight_number}}</td>
        <td>{{launch.launch_year}}</td>
        <td>{{launch.rocket.rocket_name}}</td>
        <td>{{launch.details}}</td>
      </tr>
      <tr *ngFor="let blankRow of blankRows" >
        <td colspan=4></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan=4>
          <div class="pagination">
            <button
              [disabled]="isLoading || params.offset < params.limit"
              (click)="handleOffset(0)"
            >
              First
            </button>
            <button
              [disabled]="isLoading || params.offset < params.limit"
              (click)="handleOffset(params.offset - params.limit)"
            >
              Previous
            </button>
            <button
              [disabled]="isLoading || !!max && params.offset >= max - params.limit"
              (click)="handleOffset(params.offset + params.limit)"
            >
              Next
            </button>
            <button
              [disabled]="isLoading || !max || params.offset >= max - params.limit"
              (click)="handleOffset(math.floor(max / 10) * 10)"
            >
              Last
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
