header {
  background-color: #0b0b0b;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

main {
  padding: 16px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
