<header>
  <a
    href="https://www.spacex.com/"
    target="_blank"
  >
    <img src="./assets/spacex_logo_white.png" />
  </a>
  <a
    href="https://github.com/jgkingston/space-x-launch-list-angular"
  >
    <img src="./assets/GitHub-Mark-Light-32px.png"/>
  </a>
</header>
<main>
  <h1>{{title}}</h1>
  <p>A list of SpaceX launces, sortable by flight number</p>
  <em>Hover over a row to see full flight details. Click on a row to open presskits, where available, in a new tab</em>
  <br/>
  <br/>
  <app-launches></app-launches>
</main>
